@model Cotrageco.Models.Corperate_Info

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Corperate_Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corperate_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corperate_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corperate_Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corperate_Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corperate_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corperate_Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Corperate_InfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
