@model IEnumerable<Cotrageco.Models.Cotrageco_Content>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objective_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutUs_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutUs_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFS_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OFS_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realisations_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realisations_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Representation_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Representation_Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.Raw(item.Objective_Title)
                </td>
                <td>
                    @Html.Raw(item.Objective_Description)
                </td>
                <td>
                    @Html.Raw(item.Project_Title)
                </td>
                <td>
                    @Html.Raw(item.Project_Description)
                </td>
                <td>
                    @Html.Raw(item.AboutUs_Title)
                </td>
                <td>
                    @Html.Raw(item.AboutUs_Description)
                </td>
                <td>
                    @Html.Raw(item.OFS_Title)
                </td>
                <td>
                    @Html.Raw(item.OFS_Description)
                </td>
                <td>
                    @Html.Raw(item.Services_Title)
                </td>
                <td>
                    @Html.Raw(item.Services_Description)
                </td>
                <td>
                    @Html.Raw(item.Realisations_Title)
                </td>
                <td>
                    @Html.Raw(item.Realisations_Description)
                </td>
                <td>
                    @Html.Raw(item.Purpose_Title)
                </td>
                <td>
                    @Html.Raw(item.Purpose_Description)
                </td>
                <td>
                    @Html.Raw(item.Contact_Title)
                </td>
                <td>
                    @Html.Raw(item.Contact_Description)
                </td>
                <td>
                    @Html.Raw(item.Contact_Address)
                </td>
                <td>
                    @Html.Raw(item.Contact_Email)
                </td>
                <td>
                    @Html.Raw(item.Contact_Phone)
                </td>
                <td>
                    @Html.Raw(item.Resource_Title)
                </td>
                <td>
                    @Html.Raw(item.Resource_Description)
                </td>
                <td>
                    @Html.Raw(item.Representation_Title)
                </td>
                <td>
                    @Html.Raw(item.Representation_Description)
                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Cotrageco_ContentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cotrageco_ContentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cotrageco_ContentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
