@model Cotrageco.Models.Sectors_Of_Intervention

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sectors_Of_Intervention</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sectors_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sectors_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sectors_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sectors_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sectors_Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sectors_Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Sectors_Of_InterventionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
