@model IEnumerable<Cotrageco.Models.Objective>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objective_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective_Icon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objective_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective_Icon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ObjectiveId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ObjectiveId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ObjectiveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
