@model Cotrageco.Models.Banner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website_Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website_Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutUs_Banner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutUs_Banner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OFS_Banner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OFS_Banner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Services_Banner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Services_Banner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Banner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Banner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BannerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
